@charset "utf-8";
/* CSS Document */

html {
  font-size: 13px;
}

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a {
	color: #f3ba40;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.25rem;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#footer {
  background-color: #131619;
  color: #aaa;
  font-size: .72rem;
  letter-spacing: 1px;
  padding: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 5rem;
  background-color: #131619;
  display: flex;
  align-items: center;
  flex-flow: column;
}
nav h1 {
  margin: 22px auto;
}
nav h1 a {
  color: #f3ba40;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: .625rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: .625rem 2.5rem 1rem;
    list-style: none;
    background-color: #eee;
    font-size: 1.0625rem;
    margin: 0;
    width: calc(100% - 5rem);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: .5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #ecad17;
  text-decoration: none;
  background: #000;
  padding: .375rem;
  display: inline-block;
  width: 22%;
  font-weight: 600;
  text-align: center;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 14% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 14% 50%, 0% 0%);
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #3397db;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #131619;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 12.5rem;
  padding: 1.25rem 0;
  justify-content: center;
}
.filter-options h2 {
  color: #f3ba40;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 1.25rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: .95rem;
  height: 2.1875rem;
  letter-spacing: 0;
  margin: .625rem;
  padding: 0 .625rem;
  width: 80%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 2.5rem .9375rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #131619;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 5px;
  min-height: 23.75rem;
  text-align: center;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
#restaurants-list li h3 {
  color: #ecad17;
  font-family: Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.25rem 0 1.25rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.08rem;
  color: #ddd;
}
#restaurants-list li a {
  background-color: #ecad17;
  color: #131619;
  display: inline-block;
  font-size: 1rem;
  margin: 1.5625rem 0 1.5625rem;
  padding: .5rem 1.25rem .625rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  height: 12.5rem;
  width: 100%;
  /*order: 3;
  margin-top: -11.875rem;*/
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  top: 8.5625rem;
  z-index: 1;
}

#restaurant-name {
  color: #131619;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#restaurant-img {
	width: 100%;
}
.restaurant-add-details {
  position: relative;
  top: -4.25rem;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 3.125rem;
}
#restaurant-address {
  font-size: .67rem;
  margin: -1.25rem 1rem;
  color: #ddd;
  font-style: italic;
}
#restaurant-cuisine {
  color: #f3ba40;
  font-size: .83rem;
  font-weight: 300;
  letter-spacing: .32rem;
  text-transform: uppercase;
  padding: .5625rem 1.1875rem .5625rem;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 8.75rem 2.5rem 1.875rem;
  width: calc(100% - 5rem);
  display: flex;
  flex-flow: row wrap;
}

.restaurant-detail {
  padding-top: 1.875rem;
  width: 100%;
  margin-bottom: -5rem;
}

table#restaurant-hours {
  width: 100%;
  margin-top: 2.1875rem;
}

#reviews-container {
  padding: 1.875rem 2.5rem 3.75rem;
  background: #ecad17;
}

#reviews-container h3 {
  color: #131619;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#reviews-list li {
  background-color: #eee;
  border: 1px solid #fab702;
  list-style-type: none;
  margin: 1.875rem 0;
  padding: 0 1.25rem 1.25rem;
  position: relative;
  width: 100%;
  border-radius: .33rem;
}
#reviews-list li p {
  margin: 0 0 .625rem;
}
.review-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
p.review-name {
  padding: 3rem .625rem 1.25rem;
  padding-left: 1px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0;
}
p.review-date {
  padding: 3rem .625rem 1.25rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #131619;
}
p.review-rating {
  background: #131619;
  padding: 1rem 1.625rem;
  position: absolute;
  top: -1.625rem;
  color: #ecad17;
  border-radius: 3.125rem;
  right: 0;
  font-size: .9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0;
}
#restaurant-hours caption {
  background: #000;
  padding: .6875rem;
  width: 92%;
  color: #ecad17;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: .625rem .625rem 0px 0px;
}
table#restaurant-hours th {
  padding: .625rem;
  color: #ecad17;
  font-size: 1.125rem;
}
#restaurant-hours tr {
  background: #000;
}
#restaurant-hours td {
  color: #131619;
  background: #ecad17;
  padding-left: 8%;
  font-size: .6875rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8% 47%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8% 47%);
}
#restaurant-hours td:first-child {
  background: #131619;
  padding: .625rem 1.25rem;
  color: #ecad17;
  font-size: .8125rem;
  font-weight: normal;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.skip-link {
  position: absolute;
  top: 1.5rem;
  left: -7.5rem;
  background: #f3ba40;
  color: #000;
  padding: .625rem;
  z-index: 99999999;
  transition: all .3s ease;
}
.skip-link:focus {
  left: 0px;
}

/* ====================== Leaflet ====================== */
.leaflet-control-attribution.leaflet-control {
  background-color: #131619 !important;
  color: #ddd;
}
.leaflet-control-attribution a {
  text-decoration: none;
  color: #ecad17 !important;
}
.screenreader {
  position:absolute;
  left:-100000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 14.5px;
  }
  nav h1 a {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) {
  /*First page*/
  #restaurants-list li h3 {
    font-size: 1.08rem;
  }
  #restaurants-list p {
    font-size: .9rem;
  }
  #restaurants-list li a {
    font-size: .83rem;
  }
  .filter-options {
    height: 2.125rem;
    flex-wrap: nowrap;
  }
  .filter-options h2 {
      font-size: 1.3rem;
  }
  .filter-options select {
    width: 32%;
  }
  #restaurants-list li {
    width: 44%;
  }

  /*Second page*/
  .restaurant-add-details {
    top: -5.94rem;
    height: 4.5625rem;
  }
  #restaurant-cuisine {
    font-size: 1.167rem;
    letter-spacing: .75rem;
    padding: .5625rem 1.1875rem 2px;
  }
  #restaurant-address {
    font-size: 1rem;
  }
  table#restaurant-hours {
      width: 100%;
      margin-top: 1rem;
  }
  #restaurant-hours caption {
    width: 95%;
  }
  #restaurant-hours td:first-child {
    font-size: 1.0625rem;
    font-weight: normal;
  }
  #restaurant-hours td {
    font-size: .875rem;
    font-weight: normal;
  }
  #breadcrumb li a {
    width: 12%;
  }
  
}

@media screen and (min-width: 768px) {
  /*Second page*/
  .restaurant-add-details {
    top: -8.0625rem;
    height: 6.25rem;
  }
  #restaurant-cuisine {
    font-size: 18pt;
    letter-spacing: 1.25rem;
    padding: .8125rem 1.1875rem 0px;
  }
  #restaurant-address {
    font-size: 1.3rem;
  }
  table#restaurant-hours {
      width: 100%;
      margin-top: -.75rem;
  }
  #restaurant-hours caption {
    width: 96%;
  }
  #restaurant-hours td:first-child {
    font-size: 1.1875rem;
    font-weight: normal;
  }
  #restaurant-hours td {
    font-size: 1rem;
    font-weight: normal;
  }
  #reviews-list li {
    margin-right: .625rem;
    width: 42%;
  }
  #breadcrumb li a {
    width: 8%;
  }

  /*.inside #map-container {
    height: 12.5rem;
    width: 100%;
  }*/
}

@media screen and (min-width: 915px) {
  #restaurants-list li {
    width: 31%;
  }

  /*Page two*/
  .restaurant-detail {
    width: 53%;
    margin-right: 1.25rem;
  }
  .restaurant-add-details {
    top: -6.375rem;
    height: 4.875rem;
  }
  #restaurant-cuisine {
    font-size: 1.25rem;
    letter-spacing: .9375rem;
  }
  #restaurant-address {
    font-size: 1.08rem;
  }
  table#restaurant-hours {
    width: 44%;
    margin-top: 6.3125rem;
  }
  #restaurant-hours caption {
    width: 93%;
  }
  #restaurant-hours td:first-child {
    font-size: 1rem;
  }
  #restaurant-hours td {
    font-size: .75rem;
    font-weight: 600;
  }
  #reviews-list li {
    margin-right: .625rem;
    width: 27%;
  }
  
}

@media screen and (min-width: 1120px) {
  .filter-options {
    height: 1.5625rem;
    justify-content: flex-start;
  }
  .filter-options h2 {
      font-size: 1.1rem;
  }
  .filter-options select {
      width: 16%;
  }
  #restaurants-list li {
    width: 23%;
  }
  /*Page two*/
  .restaurant-detail {
    width: 58%;
    margin-right: 1.25rem;
  }
  table#restaurant-hours {
    width: 40%;
  }
  #restaurant-hours caption {
    width: 94%;
  }
  #restaurant-hours td:first-child {
    font-size: 1.0625rem;
  }
  #restaurant-hours td {
    font-size: .78125rem;
  }
  #breadcrumb li a {
    width: 4%;
  }
}
@media screen and (min-width: 1520px) {
  html {
    font-size: 18px;
  }
  #restaurants-list li {
    width: calc((76% - 3.75rem) / 4);
  }
}


